@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 74, 29, 1);
}

@layer components {
  .hover-effect {
    @apply relative inline-block;
  }

  .hover-effect::after {
    @apply absolute block w-0 h-0.5 bg-current;
    content: "";
    left: 50%;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .hover-effect:hover::after {
    @apply w-full;
    left: 0;
  }
}

.mockup-window {
  @apply text-primary-400;
}

.glass {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  /* Frosted Glass Effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.deneme > svg > g > image {
  scale: 1.4;
}
