@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 74, 29, 1);
}

@layer components {
  .hover-effect {
    @apply relative inline-block;
  }

  .hover-effect::after {
    @apply absolute block w-0 h-0.5 bg-current;
    content: "";
    left: 50%;
    bottom: 0;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .hover-effect:hover::after {
    @apply w-full;
    left: 0;
  }
}

.mockup-window {
  @apply text-primary-400;
}

.glass {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  /* Frosted Glass Effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.glass-lg {
  box-sizing: border-box;
  background: rgba(224, 116, 15, 0.5);
  /* Frosted Glass Effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper {
  width: 950px;
  height: 534px;
  margin: 0 !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ff4a1d !important;
}

.image-container {
  position: relative;
  width: 100%; /* Adjust based on your needs */
  height: 100%; /* Adjust based on your needs */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.overlay-text {
  color: white;
  /* Style your text as needed */
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
